:root {
  --primary: #c1116a;
  --primary-600: #a30e5b;

  /* цвет кнопки как на эталоне */
  --primary-btn: #a42f5a;
  --primary-btn-600: #972a51;

  --text: #111317;
  --muted: #9ca3af;
  --border: #e5e7eb;

  --surface: #ffffff;
  --bg: #f6f7f9;

  --danger: #dc2626;
  --success: #16a34a;
}
